<div class="container my-3 col-sm-8 col-sm-offset-3">
  <h2><%= @cocktail.name %></h2>

  <ul class="list-group">
    <% @cocktail.doses.each do |dose| %>
      <li class="list-group-item">
        <%= dose.description %>
        <%= dose.ingredient.name %>
      <%= link_to "Remove",
                    dose_path(dose),
                    method: :delete,
                    data: {confirm: "Are you sure?"}  %>
      </li>
    <% end %>
  </ul>

  <%= link_to "âž• Add doses for #{@cocktail.name}", new_cocktail_dose_path(@cocktail) %><br>
  <%= link_to "ðŸ  Go Back", root_path %>
</div>
